<app-tab-route tabTitle="设备采购计划" >
  <ng-container *ngIf="selectedPage === tabPageType.mainPage">
    <app-ufast-table-nav searchPlaceholder="采购计划编号" [leftTemplate]="searchBarLeftTpl" (search)="getDevicePurchaseList()" [(searchText)]="filters.purchasePlanId"
                         [tableConfig]="devicePurchaseTableConfig" (refresh)="getDevicePurchaseList()" (advancedSearch)="showAdvancedSearch()"></app-ufast-table-nav>
    <div class="advanced-search clear-fix" *ngIf="isShowAdvancedSearch">
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label nzSpan="8">采购计划编号</nz-form-label>
          <nz-form-control nzSpan="16">
            <input nz-input placeHolder="采购计划编号" [(ngModel)]="filters.purchasePlanId">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label nzSpan="8">项目编码</nz-form-label>
          <nz-form-control nzSpan="16">
            <input nz-input placeHolder="项目编码" [(ngModel)]="filters.projectCode">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label nzSpan="8">项目名称</nz-form-label>
          <nz-form-control nzSpan="16">
            <input nz-input placeHolder="项目名称" [(ngModel)]="filters.projectName">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label nzSpan="8">状态</nz-form-label>
          <nz-form-control nzSpan="16">
            <nz-select style="width: 100%;" [(ngModel)]="filters.status" nzAllowClear nzPlaceHolder="状态">
              <nz-option *ngFor="let data of ('purchasePlanStatus' | mapList)" [nzValue]="data.value" [nzLabel]="data.label"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label nzSpan="8">计划员</nz-form-label>
          <nz-form-control nzSpan="16">
            <input nz-input placeHolder="计划员" [(ngModel)]="filters.allocatePlanner">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label nzSpan="8">创建时间-起始</nz-form-label>
          <nz-form-control nzSpan="16">
            <nz-date-picker [(ngModel)]="filters.createDateStart" [nzDisabledDate]="disabledStartDate"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label nzSpan="8">创建时间-截止</nz-form-label>
          <nz-form-control nzSpan="16">
            <nz-date-picker [(ngModel)]="filters.createDateEnd" [nzDisabledDate]="disabledEndDate"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="24" class="btn-bar">
        <button nz-button nzType="primary" (click)="getDevicePurchaseList()">搜索</button>
        <button nz-button nzType="info" (click)="resetSearch()">重置</button>
        <button nz-button nzType="default" (click)="closeAdvancedSearch()">收起</button>
      </div>
    </div>
    <app-ufast-table class="main-table" [dataList]="devicePurchaseList" [tableConfig]="devicePurchaseTableConfig" [getListHandle]="getDevicePurchaseList" (selectedChange)="changeSelect($event)"></app-ufast-table>
  </ng-container>
  <ng-container *ngIf="selectedPage === tabPageType.detailPage">
    <app-detail-device-purchase [devicePlanId]="currId" (backToMainPage)="onChildrenEmit($event)" [operation]="operation"></app-detail-device-purchase>
  </ng-container>
  <ng-container *ngIf="selectedPage === tabPageType.editPage">
    <app-edit-device-purchase (backToMainPage)="onChildrenEmit($event)" [devicePlanId]="currId"></app-edit-device-purchase>
  </ng-container>

  <ng-template #searchBarLeftTpl>
    <button nz-button nzType="info" (click)="addNewPlan()" *appAuthBtu="ActionCode.factoryPurchasePlanAdd">新增</button>
    <button nz-button nzType="info" (click)="reportDevicePurchase()" *appAuthBtu="ActionCode.factoryPurchasePlanReport">上报计划</button>
  </ng-template>
  <ng-template #operationTpl let-id="id">
    <app-action-group>
      <app-action [enabled]="actionStatus[id].edit" (clickAction)="showEditPage(id)" *appAuthBtu="ActionCode.factoryPurchasePlanEdit">编辑</app-action>
      <app-action [enabled]="actionStatus[id].audit" (clickAction)="showAuditPage(id)" *appAuthBtu="ActionCode.factoryPurchasePlanAudit">审批</app-action>
    </app-action-group>
  </ng-template>
  <ng-template #showDetailTpl let-id="id" let-purchasePlanId="purchasePlanId">
    <span class="operate-text" (click)="showDetailPage(id)">{{purchasePlanId}}</span>
  </ng-template>
</app-tab-route>
