<form nz-form [formGroup]="agreementForm" class="order-header-form" *ngIf="!detailId">
  <nz-form-item>
    <nz-form-label [nzSpan]="8" nzRequired>单据编号</nz-form-label>
    <nz-form-control [nzSpan]="16">
      <input nz-input formControlName="code" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="8" nzRequired>协议号</nz-form-label>
    <nz-form-control [nzSpan]="16">
      <input nz-input formControlName="agreementCode" readonly (focus)="showAgreementModal()" />
      <nz-form-explain *ngIf="agreementForm.get('agreementCode').dirty && agreementForm.get('agreementCode').errors">
        必填项
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
      <nz-form-label [nzSpan]="8" nzRequired>单据日期</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <nz-date-picker formControlName="createDate" nzFormat="yyyy-MM-dd HH:mm"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="8" nzRequired>领料部门</nz-form-label>
    <nz-form-control [nzSpan]="16">
      <input nz-input formControlName="applyDepartment" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="8">工段</nz-form-label>
    <nz-form-control [nzSpan]="16">
      <input nz-input formControlName="section" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="8" nzRequired>录入人员</nz-form-label>
    <nz-form-control [nzSpan]="16">
      <input nz-input formControlName="recordUserName" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
      <nz-form-label [nzSpan]="8" nzRequired>代储供应商</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <input nz-input formControlName="vendorName" />
      </nz-form-control>
    </nz-form-item>
</form>
<div class="detail-header-info" *ngIf="detailId">
  <nz-form-item *ngFor="let item of headerFieldList">
    <nz-form-label nzSpan="8">{{item.name}}</nz-form-label>
    <nz-form-control nzSpan="16">
      <nz-form-text *ngIf="!item.pipe">{{headerInfo[item.field]}}</nz-form-text>
      <nz-form-text *ngIf="item.pipe">{{headerInfo[item.field] | map:item.pipe}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
</div>
<div class="split-bar">
  <span>物料信息</span>
</div>
<app-ufast-table [tableConfig]="materialTableConfig" [dataList]="materialList"></app-ufast-table>
<ng-template #operationTpl  let-ctx="_this">
  <app-action-group>
      <app-action class="operate-text" (clickAction)="delMaterial(ctx.delId)">删除</app-action>
    <app-action *ngIf="detailId" [enabled]="!ctx.status" (clickAction)="finishMaterial(ctx.id)">完结</app-action>
  </app-action-group>
</ng-template>
<ng-template #settlementAmountTpl let-ctx="_this">
  <nz-input-number [nzDisabled]="ctx.disabledFinish" [nzMin]="materialNumMin" [nzPrecision]="materialNumDec"
    [(ngModel)]="ctx.settlementAmount" [nzMax]="materialNumMax" [nzStep]="materialNumMin"></nz-input-number>
</ng-template>


<div class="table-footer-bar">
  <button nz-button nzType="primary" class="submit-button" (click)="submitAgreementSettlement()">保存</button>
  <button nz-button nzType="primary" class="submit-button" nzGhost (click)="emitFinish()">取消
  </button>
</div>

<nz-modal class="choose-model-box" [(nzVisible)]="isVisibleAgreement" nzTitle="选择协议" nzWidth="630px" (nzOnCancel)="handleCancel()"
  [nzFooter]="null">
  <div class="transportSearch clear-fix">
    <nz-input-group class="search-group" nzSearch [nzSuffix]="transportSearchButton">
      <input type="text" nz-input placeholder="请输入协议号" [(ngModel)]="agreementFilter.agreementCode">
      <input type="text" nz-input placeholder="请输入供应商" [(ngModel)]="agreementFilter.vendorName">
    </nz-input-group>
    <ng-template #transportSearchButton>
      <button nz-button nzType="primary" nzSearch (click)="getAgreementList()">搜索</button>
    </ng-template>
  </div>
  <app-ufast-table [tableConfig]="agreementTableConfig" [dataList]="agreementList" [getListHandle]="getAgreementList"></app-ufast-table>
  <ng-template #chooseAgreement let-code="agreementCode" let-name="vendorName" let-ctx="_this">
    <span class="operate-text" (click)="chooseAgreementFun(ctx)">选择</span>
  </ng-template>
</nz-modal>
