<app-tab-route tabTitle="其它入库">
  <ng-container *ngIf="selectedPage === tabPageType.ManagePage">
    <app-ufast-table-nav [leftTemplate]="leftTpl" [searchPlaceholder]="searchPlaceholder" (search)="getList()"
      [(searchText)]="filters.abnormalNo" [tableConfig]="tableConfig" (advancedSearch)="fullSearch()" (refresh)="getList()"></app-ufast-table-nav>
    <ng-template #leftTpl>
      <button nz-button nzType="info" (click)="addWarehouse()" *appAuthBtu="ActionCode.unusualInAdd">申请入库</button>
    </ng-template>

    <div class="advanced-search clear-fix" *ngIf="fullSearchShow">
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label nzSpan="10">申请单号</nz-form-label>
          <nz-form-control nzSpan="14">
            <input nz-input [(ngModel)]="filters.abnormalNo">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label nzSpan="10">领入仓库</nz-form-label>
          <nz-form-control nzSpan="14">
            <input nz-input [(ngModel)]="filters.inLocation">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label nzSpan="10">入库状态</nz-form-label>
          <nz-form-control nzSpan="14">
            <nz-select [(ngModel)]="filters.state" nzPlaceHolder="请选择" class="selectStyle">
              <nz-option nzValue="" nzLabel="请选择"></nz-option>
              <nz-option nzValue="0" nzLabel="待入库"></nz-option>
              <nz-option nzValue="1" nzLabel="部分入库"></nz-option>
              <nz-option nzValue="2" nzLabel="全部入库"></nz-option>
              <nz-option nzValue="3" nzLabel="强制结单"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label nzSpan="10">制单人</nz-form-label>
          <nz-form-control nzSpan="14">
            <input nz-input [(ngModel)]="filters.createName">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label nzSpan="10">是否条码管理</nz-form-label>
          <nz-form-control nzSpan="14">
            <nz-select style="width: 100%;" [(ngModel)]="filters.barcodeFlag" [nzAllowClear]="true">
              <nz-option *ngFor="let item of barcodeFlagList;" [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label nzSpan="10">制单时间-开始</nz-form-label>
          <nz-form-control nzSpan="14">
            <nz-date-picker [nzFormat]="dateFormat" [(ngModel)]="filters.createDateStart" [nzDisabledDate]="disabledStart"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label nzSpan="10">制单时间-截止</nz-form-label>
          <nz-form-control nzSpan="14">
            <nz-date-picker [nzFormat]="dateFormat" [(ngModel)]="filters.createDateEnd" [nzDisabledDate]="disabledEnd"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="24" class="btn-bar">
        <button nz-button nzType="primary" (click)="getList()">搜索</button>
        <button nz-button nzType="info" (click)="fullSearchReset()">重置</button>
        <button nz-button nzType="default" (click)="fullSearchClose()">收起</button>
      </div>
    </div>

    <app-ufast-table class="main-table" [tableConfig]="tableConfig" [dataList]="otherWarehouseDataList" [getListHandle]="getList"
    ></app-ufast-table>
  </ng-container>
  <ng-template #operation let-id="id" let-abnormalNo="abnormalNo" let-state="state">
    <app-action-group>
      <app-action [enabled]="actionStatus[id].edit" (clickAction)="editWarehouse(id)" *appAuthBtu="ActionCode.unusualInEdit">编辑</app-action>
      <app-action [enabled]="actionStatus[id].stockIn" (clickAction)="toggleStockIn(id)" *appAuthBtu="ActionCode.unusualInPutInStorage">入库</app-action>
      <app-action [enabled]="actionStatus[id].finish" (clickAction)="statementFinish(id, abnormalNo)" *appAuthBtu="ActionCode.unusualInFinish">结单</app-action>
      <app-action [enabled]="actionStatus[id].del" (clickAction)="deleteWareHouse(id)" *appAuthBtu="ActionCode.unusualInDel">删除</app-action>
      <app-action [enabled]="actionStatus[id].erpSync" (clickAction)="doErpSync(id)" *appAuthBtu="ActionCode.unusualInErpSync">ERP同步</app-action>
      <app-action [enabled]="actionStatus[id].print" (clickAction)="showPrintModal(id)" *appAuthBtu="ActionCode.unusualInPrint">打印</app-action>
    </app-action-group>
  </ng-template>
  <ng-template #abnormalNo let-abnormalNo="abnormalNo" let-id="id">
    <span class="operate-text" (click)="detailWarehouse(id)">{{abnormalNo}}</span>
  </ng-template>
  <ng-container *ngIf="selectedPage === tabPageType.AddPage">
    <app-addother (finish)="onChildFinish()"></app-addother>
  </ng-container>
  <ng-container *ngIf="selectedPage === tabPageType.DetailPage">
    <app-other-detail (finish)="onChildFinish()" [stockIn]="stockIn" [selectRowId]="EveryLineId"></app-other-detail>
  </ng-container>
  <ng-container *ngIf="selectedPage === tabPageType.EditPage">
    <app-other-edit (finish)="onChildFinish()" [selectRowId]="EveryLineId"></app-other-edit>
  </ng-container>

</app-tab-route>


<ng-template #navBreakcrumb>
  <app-nav-breadcrumb></app-nav-breadcrumb>
</ng-template>
