.form{
    width:550px;
    padding:20px 0 0 30px;
    .ant-form-item-with-help{
      margin-bottom: 9px;
    }
    nz-form-item{
      margin-bottom:24px;
    }
  }
.head-bar{
    color:#333;
    font-size:14px;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
  
    & > span:first-child{
      border-left: 5px solid #f60;
      padding-left:5px;
    }
  }
  .editable-add-btn {
    margin-top: 8px;
    margin-bottom: 8px;
  }