<div>
  <!--<app-purchase-steps [mainStep]="purchaseSteps.mainStep" [subStep]="purchaseSteps.subStep"></app-purchase-steps>-->
  <form nz-form [formGroup]="infoForm">
    <div class="order-header-form">
    <nz-form-item>
      <nz-form-label [nzSpan]="8" nzFor="approveNo">审批表号</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <input nz-input type="text" formControlName="approveNo" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="8" nzFor="purchaseType">采购模式</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <nz-select style="width: 100%;" formControlName="purchaseType">
          <nz-option *ngFor="let data of ('purchaseMode'|mapList);trackBy:trackByItem;" [nzValue]="data.value" [nzLabel]="data.label"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="8" nzFor="purchaseMethod">采购方式</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <nz-select style="width: 100%;" formControlName="purchaseMethod">
          <nz-option *ngFor="let data of ('purchaseWay'|mapList);trackBy:trackByItem;" [nzValue]="data.value" [nzLabel]="data.label"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="8" nzFor="priceType" nzRequired>价格类型</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <nz-select style="width: 100%;" formControlName="priceType">
          <nz-option *ngFor="let data of ('purchasePriceType'|mapList);trackBy:trackByItem;" [nzValue]="data.value" [nzLabel]="data.label"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="8" nzFor="totalPrice" nzRequired>金额合计(元)</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <nz-input-number style="width:100%;" [nzPrecision]="moneyNumDec" [nzMin]="0" [nzMax]="moneyNumMax" formControlName="totalPrice"></nz-input-number>
      </nz-form-control>
    </nz-form-item><nz-form-item>
    <nz-form-label [nzSpan]="8" nzFor="businessType">业务类型</nz-form-label>
    <nz-form-control [nzSpan]="16">
      <nz-select style="width: 100%;" formControlName="businessType">
        <nz-option *ngFor="let data of ('purchaseContractBusiness'|mapList);trackBy:trackByItem;" [nzValue]="data.value" [nzLabel]="data.label"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="8" nzFor="creatorName">创建人</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <input nz-input type="text" formControlName="creatorName" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="8" nzFor="status">状态</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <nz-select style="width: 100%;" formControlName="status">
          <nz-option *ngFor="let data of ('purchaseApprovalStatus'|mapList);trackBy:trackByItem;" [nzValue]="data.value" [nzLabel]="data.label"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="8" nzFor="createDate">创建时间</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <nz-form-text>{{infoForm.get('createDate').value|date:'yyyy-MM-dd HH:mm:ss'}}</nz-form-text>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="8" nzFor="strategy" nzRequired>成交策略</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <nz-select style="width: 100%;" formControlName="strategy">
          <nz-option *ngFor="let data of ('purchaseDealStrategy'|mapList);trackBy:trackByItem;" [nzValue]="data.value" [nzLabel]="data.label"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item style="width:66%">
      <nz-form-label [nzSpan]="4" nzFor="purchaseSource">计划来源</nz-form-label>
      <nz-form-control [nzSpan]="20">
        <input nz-input type="text" formControlName="purchaseSource" [maxlength]="MaxLenInputEnum.PurchaseSource" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="8" nzRequired>供应商管理科审批人</nz-form-label>
      <nz-form-control nzSpan="16">
        <nz-input-group [nzAddOnAfter]="affixTplSup">
          <input nz-input readonly (focus)="showSelectUser('flowSupplier')" formControlName="flowSupplierName">
        </nz-input-group>
        <ng-template #affixTplSup>
          <i class="anticon anticon-close" (click)="clearFlowUser('flowSupplier')"></i>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
      <nz-form-item>
        <nz-form-label nzSpan="8" nzRequired>采购管理科审批人</nz-form-label>
        <nz-form-control nzSpan="16">
          <nz-input-group [nzAddOnAfter]="affixTpl">
            <input nz-input readonly (focus)="showSelectUser('flowPurchaser')" formControlName="flowPurchaserName">
          </nz-input-group>
          <ng-template #affixTpl>
            <i class="anticon anticon-close" (click)="clearFlowUser('flowPurchaser')"></i>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    <br/>
    <nz-form-item>
      <nz-form-label [nzSpan]="8" nzFor="clauseNo" nzRequired>条|款</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <input nz-input type="text" formControlName="clauseNo" (focus)="onSelectClause()" readonly />
      </nz-form-control>
    </nz-form-item>
    </div>
    <nz-form-item style="width:66%">
      <nz-form-label [nzSpan]="4" nzFor="clauseContent">条款内容</nz-form-label>
      <nz-form-control [nzSpan]="20">
        <textarea style="min-height: 100px;" nz-input type="text" formControlName="clauseContent" readonly></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item style="width:66%">
      <nz-form-label [nzSpan]="4" nzFor="remark">说明</nz-form-label>
      <nz-form-control [nzSpan]="20">
        <textarea class="remark-area" nz-input formControlName="remark" [maxlength]="MaxLenInputEnum.Remark"></textarea>
      </nz-form-control>
    </nz-form-item>
  </form>
  <div class="split-bar">
    <span>供应商</span>
  </div>
  <div class="detail-table-header">
    <button nz-button nzType="info" [disabled]="banSelectSupplier" (click)="addSupplier()">添加供应商</button>
    <button nz-button nzType="info" [disabled]="banSelectSupplier" (click)="supplierRelationship()">幕后关系</button>
    &nbsp;&nbsp;<label nz-checkbox [nzDisabled]="banSelectSupplier" [(ngModel)]="filterSuppleir.rangeFlag">根据供应范围搜索</label>
  </div>
  <app-ufast-table [tableConfig]="supplierTableConfig" [dataList]="supplierTableList"></app-ufast-table>

  <!--<div class="supplier-table-wrap">-->
    <!--<div>-->
      <!--<app-ufast-table [tableConfig]="supplierTableConfig" [dataList]="supplierDataList"></app-ufast-table>-->
    <!--</div>-->
    <!--<div>-->
      <!--<app-ufast-table [tableConfig]="supplierTableConfig" [dataList]="supplierDataList"></app-ufast-table>-->
    <!--</div>-->
  <!--</div>-->
  <ng-template #operationSupTpl let-rowNo="rowNo">
    <app-action-group>
      <app-action [enabled]="true" (clickAction)="delSup(rowNo)">删除</app-action>
    </app-action-group>
  </ng-template>
  <ng-template #operationRgithSupTpl let-rowNo="rowNo_right">
    <app-action-group>
      <app-action [enabled]="rowNo !== undefined" (clickAction)="delSup(rowNo)">删除</app-action>
    </app-action-group>
  </ng-template>
  <div class="split-bar">
    <span>计划行</span>
  </div>
  <app-ufast-table [dataList]="rowData" [tableConfig]="purchasePlanTableConfig"></app-ufast-table>
  <ng-template #operationPlanTpl let-rowNo="rowNo">
    <span class="operate-text" (click)="delRow(rowNo)">删除</span>
  </ng-template>
  <div class="table-footer-bar">
    <button nz-button nzType="primary" (click)="saveForm()">保存</button>
    <button nz-button nzType="primary" (click)="submitForm()">提交</button>
    <button nz-button nzType="primary" (click)="exitPage()" [nzGhost]="true">取消</button>
  </div>
</div>
<nz-modal [(nzVisible)]="supplierModalShow" nzTitle="供应商" nzWidth="630px" (nzOnCancel)="onCancelSupplier()" [nzFooter]="null"  [nzBodyStyle]="{padding: '10px'}">
  <div style="padding:10px;">
    <div></div>
    <app-ufast-table [dataList]="allSupDataList" (selectedChange)="selectedRelation($event)" [tableConfig]="allSupTableConfig" [getListHandle]="getAllSupplierList"></app-ufast-table>
  </div>
</nz-modal>
<nz-modal [(nzVisible)]="showSelectUserModal" nzTitle="选择人员" nzWidth="630px" (nzOnCancel)="onCancelUser()" [nzFooter]="null" [nzBodyStyle]="{padding: '10px'}">
  <app-ufast-table [dataList]="userDataList" [tableConfig]="userTableConfig" [getListHandle]="getUserList"></app-ufast-table>
</nz-modal>
<ng-template #userOperationTpl let-name="name" let-userId="userId">
  <span class="operate-text" (click)="onUserSelect(name, userId)">选择</span>
</ng-template>
