$table-header-height: 50px;

$fix-footer-height: 60px;
$tabset-bar-height:40px;

$tab-page-padding-top:10px;
$tab-page-padding-bottom:10px;
$tab-page-padding-left:10px;
$tab-page-padding-right:10px;

$top-menu-bar-height: 60px;
$side-menu-bar-width: 200px;
$logo-width: 113px;
$logo-height: 25px;

$length-5: 5px;
$length-10: 10px;
$length-20: 20px;

$light-bg: #fff;
$basic-font-color: #383B3C;
