<div class="detail-header-info">
  <nz-form-item *ngFor="let item of detailFieldList;trackBy:trackByItem">
    <nz-form-label nzSpan="8">{{item.name}}</nz-form-label>
    <nz-form-control nzSpan="16">
      <nz-form-text *ngIf="!item.pipe">{{orderInfo[item.field]}}</nz-form-text>
      <nz-form-text *ngIf="item.pipe">{{orderInfo[item.field] | map:item.pipe}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
</div>
<div class="split-bar">
  <span>物料信息</span>
</div>
<div class="table-header-wrap">
  <button nz-button nzType="info" (click)="deleteMaterial()">删除</button>
</div>
<app-ufast-table [tableConfig]="tableConfig" [dataList]="materialDataList" (selectedChange)="onSelectedOrder($event)"></app-ufast-table>
<ng-template #operateTpl let-no="materialCode">
  <span class="operate-text" (click)="deleteByNO(no)">删除</span>
</ng-template>
<ng-template #deliveryNumTpl let-ctx="_this">
  <nz-input-number [nzPrecision]="materialNumDec" [nzMin]="materialNumMin" [nzMax]="materialNumMax" [nzStep]="materialNumMin" [(ngModel)]="ctx.deliveryQty"></nz-input-number>
</ng-template>
<ng-template #nowStockTpl let-nomalInvtNum="nomalInvtNum" let-ctx="_this">
  <span class="operate-text" (click)="showStockModal(ctx)">{{nomalInvtNum}}</span>
</ng-template>
<div class="table-footer-wrap">
  <button nz-button nzType="primary" (click)="submitOrder()">提交</button>
  <button nz-button nzType="primary" nzGhost (click)="onCancel()">取消</button>
</div>

<nz-modal [(nzVisible)]="stockModalShow" nzTitle="请选择库存" [nzFooter]="null" nzWidth="630px" (nzOnCancel)="onCancelStock()"  [nzBodyStyle]="{padding: '10px'}">
  <div style="padding:10px;">
    <app-ufast-table [dataList]="stockDataList" [tableConfig]="stockTableConfig" [getListHandle]="getStockList"></app-ufast-table>
  </div>
</nz-modal>
<ng-template #stockOperateTpl let-ctx="_this">
  <span class="operate-text" (click)="chooseStock(ctx)">选择</span>
</ng-template>
