.margin {
  margin: 14px 0;
}
.marginTop {
  margin-top: 20px;
}
.upload-error-msg {
  width: 100%;
  color: red;
  max-height: 150px;
  overflow: auto;
  & div:first-child {
    margin-top: 10px;
  }
  div {
    line-height: 20px;
    word-break: break-all;
  }
}
