.panel-bar {
    margin-bottom: 10px;
    border-bottom: solid 1px #ccc;
    height: 35px;
    line-height: 34px;
        i {
            display: inline-block;
            width:  4px;
            height: 15px;
            background: #f60;
            margin-right: 5px;
            vertical-align: middle;
            margin-top: -2px;
        }
    }
    /deep/ .choose-model-box .ant-table-body.ng-star-inserted{
        max-height: 240px !important;
      }

      /deep/ .choose-model-box .ant-modal-body {
        padding-bottom: 0 !important;
      }
    /deep/ .choose-model-box .ant-input-affix-wrapper {
        margin-bottom: 30px;
    }
