<div class="detail-header-info">
  <nz-form-item *ngFor="let item of headerFieldList;trackBy:trackByItem">
    <nz-form-label nzSpan="8">{{item.name}}</nz-form-label>
    <nz-form-control nzSpan="16">
      <nz-form-text *ngIf="!item.pipe">{{mouseDetail[item.field]}}</nz-form-text>
      <nz-form-text *ngIf="item.pipe">{{mouseDetail[item.field] | map:item.pipe}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
</div>

<div class="split-bar">
  <span>物料信息</span>
</div>

<div>
  <app-ufast-table [tableConfig]="tableConfig" [dataList]="otherDetailDataList"></app-ufast-table>
  <ng-template #operation let-materialsNo="materialsNo" let-disabled="disableFinish">
    <span [appEnable]="!disabled" (click)="statementFinish(disabled, materialsNo)" *appAuthBtu="ActionCode.unusualInFinish">结单</span>
  </ng-template>
  <ng-template #locationTpl let-ctx="_this">
    <app-location-selector [disabled]="ctx.disableFinish" [(ngModel)]="ctx.locationCode" placeholder="储位" [filters]="locationFilter"
      singleTabTitle="选择储位" [singleTab]="true">
    </app-location-selector>
  </ng-template>
</div>

<div class="table-footer-bar">
  <ng-container *ngIf="!stockIn">
    <button nz-button nzType="primary" class="submit-button" (click)="statementFinish(disabledFinish)" [disabled]="disabledFinish"
      *appAuthBtu="ActionCode.unusualInFinish">结单</button>
  </ng-container>
  <button nz-button nzType="primary" *ngIf="stockIn" class="submit-button" (click)="submitStockIn()" [disabled]="disabledFinish">入库</button>
  <button nz-button nzType="primary" class="submit-button" nzGhost (click)="emitFinish()">返回</button>
</div>
