<ng-container>
    <div nz-col nzSpan="24">
        <div class="panel-bar">
            <div class="pull-left">
                <i></i>
                <span>物料信息</span>
            </div>
            <div class="pull-right">
                <i class="fa fa-angle-double-up" *ngIf="showMaterialInformationBar === true" (click)="showMaterialInformation()"></i>
                <i class="fa fa-angle-double-down" *ngIf="showMaterialInformationBar === false" (click)="showMaterialInformation()"></i>
            </div>
        </div>
        <div class="materialInformation" *ngIf="showMaterialInformationBar === true">
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label nzSpan="3">物料编码</nz-form-label>
                    <nz-form-control nzSpan="8">
                        <span *ngIf="materialDataList.materialsNo != null">{{materialDataList.materialsNo}}</span>
                        <span *ngIf="materialDataList.materialsNo === null">-</span>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label nzSpan="3">自定义物料编码</nz-form-label>
                    <nz-form-control nzSpan="8">
                        <span *ngIf="materialDataList.customMaterialsNo != null">{{materialDataList.customMaterialsNo}}</span>
                        <span *ngIf="materialDataList.customMaterialsNo === null">-</span>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label nzSpan="3">物料描述</nz-form-label>
                    <nz-form-control nzSpan="8">
                        <span *ngIf="materialDataList.materialsDes != null">{{materialDataList.materialsDes}}</span>
                        <span *ngIf="materialDataList.materialsDes === null">-</span>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label nzSpan="3">基本计量单位</nz-form-label>
                    <nz-form-control nzSpan="8">
                        <span *ngIf="materialDataList.unit != null">{{materialDataList.unit}}</span>
                        <span *ngIf="materialDataList.unit === null">-</span>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label nzSpan="3">全国统一价</nz-form-label>
                    <nz-form-control nzSpan="8">
                        <span *ngIf="materialDataList.price != null">{{materialDataList.price}}</span>
                        <span *ngIf="materialDataList.price === null">-</span>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label nzSpan="3">标准价</nz-form-label>
                    <nz-form-control nzSpan="8">
                        <span *ngIf="materialDataList.standardPrice != null">{{materialDataList.standardPrice}}</span>
                        <span *ngIf="materialDataList.standardPrice === null">-</span>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label nzSpan="3">采购组</nz-form-label>
                    <nz-form-control nzSpan="8">
                        <span *ngIf="materialDataList.purchaseGroup != null">{{materialDataList.purchaseGroup}}</span>
                        <span *ngIf="materialDataList.purchaseGroup === null">-</span>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label nzSpan="3">产品组</nz-form-label>
                    <nz-form-control nzSpan="8">
                        <span *ngIf="materialDataList.productGroup != null">{{materialDataList.productGroup}}</span>
                        <span *ngIf="materialDataList.productGroup === null">-</span>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label nzSpan="3">物料组</nz-form-label>
                    <nz-form-control nzSpan="8">
                        <span *ngIf="materialDataList.materialsGroup != null">{{materialDataList.materialsGroup}}</span>
                        <span *ngIf="materialDataList.materialsGroup === null">-</span>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label nzSpan="3">物料组描述</nz-form-label>
                    <nz-form-control nzSpan="8">
                        <span *ngIf="materialDataList.materialsGroupDec != null">{{materialDataList.materialsGroupDec}}</span>
                        <span *ngIf="materialDataList.materialsGroupDec === null">-</span>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label nzSpan="3">外部物料组</nz-form-label>
                    <nz-form-control nzSpan="8">
                        <span *ngIf="materialDataList.outMaterialsGroup != null">{{materialDataList.outMaterialsGroup}}</span>
                        <span *ngIf="materialDataList.outMaterialsGroup === null">-</span>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label nzSpan="3">外部物料组描述</nz-form-label>
                    <nz-form-control nzSpan="8">
                        <span *ngIf="materialDataList.outMaterialsGroupDec != null">{{materialDataList.outMaterialsGroupDec}}</span>
                        <span *ngIf="materialDataList.outMaterialsGroupDec === null">-</span>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label nzSpan="3">价格单位</nz-form-label>
                    <nz-form-control nzSpan="8">
                        <span *ngIf="materialDataList.priceUnit != null">{{materialDataList.priceUnit}}</span>
                        <span *ngIf="materialDataList.priceUnit === null">-</span>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label nzSpan="3">物料分类</nz-form-label>
                    <nz-form-control nzSpan="8">
                        <span *ngIf="materialDataList.materialsType != null">{{materialDataList.materialsType}}</span>
                        <span *ngIf="materialDataList.materialsType === null">-</span>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label nzSpan="3">物料级别</nz-form-label>
                    <nz-form-control nzSpan="8">
                        <span *ngIf="materialDataList.grade === 0">A</span>
                        <span *ngIf="materialDataList.grade === 1">B</span>
                        <span *ngIf="materialDataList.grade === 2">C</span>
                        <span *ngIf="materialDataList.grade === null">-</span>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label nzSpan="3">是否关键件</nz-form-label>
                    <nz-form-control nzSpan="8">
                        <span *ngIf="materialDataList.crucialDevice === 1">是</span>
                        <span *ngIf="materialDataList.crucialDevice === 0">否</span>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label nzSpan="3">是否进口件</nz-form-label>
                    <nz-form-control nzSpan="8">
                        <span *ngIf="materialDataList.entranceDevice === 1">是</span>
                        <span *ngIf="materialDataList.entranceDevice === 0">否</span>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </div>

    <div nz-col nzSpan="24">
        <div class="panel-bar">
            <div class="pull-left">
                <i></i>
                <span>对应仓库保管员</span>
            </div>
            <div class="pull-right" (click)="showStorekeeper()">
                <i class="fa fa-angle-double-up" *ngIf="showStorekeeperBar === true"></i>
                <i class="fa fa-angle-double-down" *ngIf="showStorekeeperBar === false"></i>
            </div>
        </div>
        <div class="storeKeeper" *ngIf="showStorekeeperBar === true">
            <nz-form-item>
                <nz-form-label nzSpan="3">仓库保管员</nz-form-label>
                <nz-form-control nzSpan="8">
                    <span>---</span>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-col nzSpan="24"  class="btn-bar">
        <div>
            <button nz-button nzType="primary" nzGhost (click)="toggleManagePage()">返回</button>
        </div>
    </div>
</ng-container>