.clause-content {
  max-height: calc(100% - 72px);
  overflow: auto;
  box-sizing: border-box;
  .clause-item {
    margin-bottom: 10px;
  }
  .title-clip {
    max-height: 60px;
    line-height: 20px;
  }
}