
.form {
  width:100%;

  nz-form-item {
    display:inline-block;
    width:45%;
    font-size: 14px;
    word-break: break-all;

    nz-form-text {
      line-height:30px;
    }
  }
}
.viewUsage {
  width: 110px;
  margin-bottom: 10px;
}