


/deep/ .submit {
  width: 100px;
}

/deep/ .choose-model-box .ant-table-body.ng-star-inserted {
  max-height: 240px !important;
}

/deep/ .choose-model-box .ant-modal-body {
  padding-bottom: 0 !important;
}

/deep/ .choose-model-box .ant-input-affix-wrapper {
  margin-bottom: 30px;
}
