<div class="detail-header-info">
  <nz-form-item *ngFor="let item of infoFieldList;trackBy:trackByItem">
    <nz-form-label nzSpan="8">{{item.name}}</nz-form-label>
    <nz-form-control nzSpan="16">
      <nz-form-text *ngIf="!item.pipe">{{headerInfo[item.field]}}</nz-form-text>
      <nz-form-text *ngIf="item.pipe">{{headerInfo[item.field] | map:item.pipe}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
</div>

<div class="split-bar">
  <span>物料信息</span>
</div>
<app-ufast-table [tableConfig]="tableConfig" [dataList]="detailMaterial"></app-ufast-table>
<ng-template #receivingTpl let-ctx="_this">
  <nz-input-number *ngIf="!detailPage" [nzPrecision]="materialNumDec" [(ngModel)]="ctx.amountNow" [nzMin]="materialNumMin" [nzMax]="materialNumMax" [nzStep]="materialNumMin"></nz-input-number>
  <span *ngIf="detailPage">{{ctx.amountNow}}</span>
</ng-template>
<ng-template #locationTpl let-ctx="_this">
  <app-location-selector *ngIf="!detailPage" [filters]="locationFilters"
    [(ngModel)]="ctx.locationCode" style="width: 300px;" [showClear]="false" (ok)="onChooseLocation($event, ctx)"></app-location-selector>
  <span *ngIf="detailPage">{{ctx.locationCode}}</span>
</ng-template>

<div class="table-footer-bar">
  <button *ngIf="!detailPage" nz-button nzType="primary" class="submit-button submit" (click)="confirmInventory()">
    确认入库
  </button>
  <button nz-button nzType="primary" class="submit-button" nzGhost (click)="emitFinish()">取消</button>
</div>
