<div class="detail-header-info">
    <nz-form-item *ngFor="let item of headerFieldList;trackBy:trackByItem">
      <nz-form-label nzSpan="8">{{item.name}}</nz-form-label>
      <nz-form-control nzSpan="16">
        <nz-form-text *ngIf="!item.pipe">{{headerInfo[item.field]}}</nz-form-text>
        <nz-form-text *ngIf="item.pipe">{{headerInfo[item.field] | map:item.pipe}}</nz-form-text>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div class="split-bar">
      <span>物料信息</span>
  </div>

  <div>
      <app-ufast-table [tableConfig]="tableConfig" [dataList]="materialInformationList"></app-ufast-table>
      <ng-template #operationTpl let-disabledFinish="disabledFinish" let-materialNo="materialNo" let-status="status" let-id="id">
          <span [appEnable]="!disabledFinish" (click)="statementFinish(disabledFinish, id)">结单</span>
      </ng-template>
      <ng-template #locationCodeTpl let-ctx="_this">
        <app-location-selector [(ngModel)]="ctx.locationCode" placeholder="储位" singleTabTitle="选择储位" [singleTab]="true" (ok)="onSelectedLocation($event, ctx)" [filters]="locationFilter"></app-location-selector>
      </ng-template>
    <ng-template #stockOutAmoutTpl let-ctx="_this">
      <nz-input-number *ngIf="isStockOut" [nzMin]="materialNumMin" [nzPrecision]="materialNumDec" [nzMax]="materialNumMax" [nzStep]="materialNumMin" [(ngModel)]="ctx.amountOut"></nz-input-number>
      <span *ngIf="!isStockOut">{{ctx.amountOut}}</span>
    </ng-template>
    <ng-template #nowStockTpl let-locationAmount="locationAmount" let-ctx="_this">
      <span class="operate-text" (click)="showStockModal(ctx)">{{locationAmount}}</span>
    </ng-template>
  </div>
  <div class="table-footer-bar">
      <button nz-button nzType="primary" *ngIf="!isStockOut" class="submit-button" [disabled]="disabledFinish" (click)="statementFinish(disabledFinish, null)">结单</button>
      <button nz-button nzType="primary" *ngIf="isStockOut" class="submit-button" (click)="submitDelivery()">出库</button>
      <button nz-button nzType="primary" class="submit-button" nzGhost (click)="emitFinish()">返回</button>
  </div>
  <nz-modal [(nzVisible)]="stockModalShow" nzTitle="请选择库存" [nzFooter]="null" nzWidth="630px" (nzOnCancel)="onCancelStock()"  [nzBodyStyle]="{padding: '10px'}">
    <div style="padding:10px;">
      <app-ufast-table [dataList]="stockDataList" [tableConfig]="stockTableConfig" [getListHandle]="getStockList"></app-ufast-table>
    </div>
  </nz-modal>
  <ng-template #stockOperateTpl let-ctx="_this">
    <span class="operate-text" (click)="chooseStock(ctx)">选择</span>
  </ng-template>
