/deep/ .marginBottom {
  margin-bottom: 14px;
}
/deep/ .set-modal .ant-modal-body {
  padding-bottom: 0 !important;
}
/deep/ .set-modal .ant-table-body.ng-star-inserted {
  max-height: 240px !important;
}
/deep/ .inLead {
  .ant-form-item {
    margin-bottom: 10px !important;
  }
}

/deep/ .inLead {
  .ant-form-item {
    font-size: 14px !important;
  }
}
.ButtonStyle {
  color: #0066cc;
  .marginRight {
    margin-right: 10px;
  }
  span {
    cursor: pointer;
  }
}

.marginTop {
  margin-top: 20px;
}
.search-group {
  margin-bottom: 10px;
}


