.margin {
    margin: 16px 0;
  }
  .marginTop {
    margin-top: 20px;
  }
.panel-bar {
    i {
        display: inline-block;
        width: 4px;
        height: 15px;
        background: #f60;
        margin-right: 5px;
        vertical-align: middle;
        margin-top: -2px;
    }
}
/deep/ .marginBottom {
    margin-bottom: 14px;
  }
  .ButtonStyle {
    color: #0066cc;
    .marginRight {
      margin-right: 10px;
    }
    span {
      cursor: pointer;
    }
  }

.transportSearch {
  margin-left: 50%;
  margin-bottom: 20px;
}
.clientSearch {
  margin-left: 20%;
  margin-bottom: 20px;
}
.search-group {
  display: flex;
  input {
    margin-right: 10px;
  }
}
/deep/ .ant-table-body.ng-star-inserted {
  max-height: 240px;
}
/deep/ .custom-modal .ant-modal-body {
    padding-bottom: 0 !important;
  }
