.upload-modal-wrap{

  .content-wrap {
    padding: 24px;
    .choose-file-label {
      font-size: 14px;
    }
    .choose-file-wrap {
      position: relative;
      .notice-msg{
        position: absolute;
        top: 0px;
        left: 110px;
      }
    }
  }
  .footer{
    text-align:right;
    border-top:1px solid #e8e8e8;
    padding: 10px 16px;
    button {
      height:30px;
      margin-left:10px;
    }
  }
}
/deep/ .ant-form-item{
  margin-bottom: 10px ;
  font-size: 14px;
}
.errorMessage {
  height: 150px;
  overflow: auto;
}
